<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
  <a class="brand" href="/" style="
      font-size: 22px;
      font-weight: 800;
      color: #ffffff;
      margin-right: auto;
  ">NutriVision</a>

  <a class="nav-item" href="/">Home</a>
  <a class="nav-item" href="/about">About</a>
  <a class="nav-item" href="/explore">Food Explorer</a>
  <a class="nav-item" href="/tips">Tips</a>
  <a class="nav-item" href="/contact">Contact</a>
  <a class="nav-item" href="/login">Login</a>
</nav>


<header>
  <h1>Contact Us</h1>
</header>

<main>
  <div class="result-card">
    <h2>We’d love to hear from you</h2>
    <p>Email: atharva7380@gmail.com</p>
    <p>Phone: +91 9370233040</p>
  </div>
</main>

<footer>
  <p>Made with ❤️ by Atharva & Baliram</p>
</footer>

</body>
</html>


